<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauthproject.choi.repository.UserRepository">

    <resultMap id="userResult" type="com.oauthproject.choi.domain.User">
        <id property="seq"          column="SEQ"/>
        <result property="name"     column="NAME"/>
        <result property="email"    column="EMAIL"/>
        <result property="role"     column="ROLE"/>
    </resultMap>


    <select id="findByEmail" resultMap="userResult">
        select SEQ, NAME,ROLE
        from user
        where EMAIL = #{email}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="seq">
        insert into user
            (
             NAME, EMAIL, ROLE
             )
        values
            (
             #{name}, #{email}, #{role}
             )
    </insert>


</mapper>